
			*{
				margin: 0;
				padding: 0;
			}
			.wrap{
				width: 1120px;
				height: 60px;
				/*background: red;*/
				overflow: hidden;
				margin: 0 auto;
			}
			.wrap p{
				float: right;
				height: 60px;
				line-height: 60px;
				/*vertical-align: middle;*/
			}
			.wrap p a{
				padding-left: 30px;
				text-decoration: none;
				color: black;
			}
			.wrap p a:hover{
				color: red;
			}
			.report_main a{
				font-size: 18px;
			    position: absolute;
			    left: 50%;
			    text-decoration: none;
			}
			.report_p1{
				height: 849px;
				position: relative;
				background: url(../img/bg1_01.jpg) 50%;
			}
			.report_p1 img{
				position: absolute;
				top: 650px;
    				left: 50%;
    				margin-left: -20px;
    				transform-origin: 40% 100% 0;
    				animation: dh 5s infinite;
    				transition: all 10s ease-in-out 0s;
			}
			@keyframes dh{
				0%{
					transform: rotate(5deg);
				}
				25%{
					transform: rotate(-5deg);
				}
				50%{
					transform: rotate(-5deg);
				}
				100%{
					transform: rotate(5deg);
				}
			}
			.r_p6 img{
				position: absolute;
    				left: 50%;
    				top: 190px;
    				margin-left: -575px;
			}
			.ico_01{
				top: 125px;
    				margin-left: -500px;
    				position: absolute;
    				left: 50%;
			}
			.r_p2{
				height: 796px;
				position: relative;
				background: url(../img/bg1_02.jpg) 50% center;
			}
			.r_p2 a{
				width: 300px;
				height: 493px;
				top: 263px;
			}
			.p2_1{
				margin-left: -600px;
			}
			.p2_2{
				margin-left: -305px;
			}
			.p2_3{
				margin-left: -14px;
			}
			.p2_4{
				margin-left: 302px;
			}
			.r_p3{
				height: 1071px;
				position: relative;
				background: url(../img/bg1_03.jpg) 50%;
			}
			.a_wrap{
				width: 558px;
				height: 689px;
				position: absolute;
				top: 318px;
				left: 50%;
				left: 244px;
			}
			.report_main .a_wrap .m1 {
				background: rgb(229,33,66);
				position: absolute;
				top: 270px;
				left: 70px;
				color: white;
				padding: 5px 10px;
			    letter-spacing: 2px;
			    font-weight: 400;
			}
			.r_p4{
				height: 1018px;
				position: relative;
				background: url(../img/bg1_04.jpg) 50% center;
			}
			.r_p4 a{
				width: 400px;
    				height: 550px;
    				top: 269px;
			}
			.p4_1{
    				margin-left: -600px;
			}
			.p4_2{
    				margin-left: 200px;
			}
			.r_p5{
				height: 762px;
				position: relative;
				background: url(../img/bg1_05.jpg) 50% center;
			}
			.r_p5 a{
				width: 518px;
    				height: 464px;
    				top: 232px;
			}
			.p5_1{
    				margin-left: -544px;
			}
			.p5_2{
    				margin-left: 0px;
			}	
			.r_p6{
				height: 674px;
				position: relative;
				background: url(../img/bg1_06.jpg) 50% center;
			}