body,html{
	margin: 0;
	padding: 0;
	position: relative;
}

.food_info_num span{
	cursor: pointer;
}
.food_info_head,.food_info_content{
	width: 1120px;
	margin: auto;		
}
.food_info_head{
	height: 40px;
	line-height: 40px;
	margin: 10px auto;
    line-height: 2;
    font: 400 14px/40px microsoft yahei;
    color: #666;
}
.food_info_head span a{
	text-decoration: none;
	color: #666;
}
.food_info_head .now{
	color: #999;
}
.food_info_content{
	height: 538px;
	/*background-color: lightblue;*/
}
/*---------------------------------详情--------------------------*/
.food_info_list{
	width: 72px;
	height: 478px;
	padding-top: 1px;
	float: left;
	/*border: 1px solid transparent;*/
}
.food_info_list ul{
	margin-top: -1px;
	height: 456px;
	list-style-type: none;
	padding-left: 0;
}
.food_info_list ul li{
	border: 1px solid transparent;
	width: 70px;height: 70px;
    margin-bottom: 4px;
}.food_info_list ul li img{
	width: 70px;
	height: 70px;
}
.food_info_list .food_info_active{
	border: 1px solid #d92a4b;
}
.food_info_img{
	width: 510px;
	height: 510px;
	float: left;
	margin-left: 20px;
}
.food_info_img img{
	width: 510px;
	height: 510px;
}
.food_info_right{
	width: 494px;
	height: 538px;
	float: right;
}.food_info_title{
	width: 494px;
	height: 66px;
	position: relative;
	top: -20px;
}
.food_info_right h2{
	font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 4px;
    position: relative;
}
.food_info_right p{
    color: #999;
    line-height: 26px;
    margin-top: -1px;
}
.food_info_price{
	font-size: 14px;
	width: 494px;
	height: 92px;
	border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 10px 0;
    line-height: 30px;
}.food_info_price p{
	margin-top: 10px;
	position: relative;
}
.food_info_text{
	width: 60px;
    display: block;
    float: left;
}.food_info_p{
    font-size: 30px;
    height: 42px;
    color: #d92a4b
}.food_info_baoyou{
	position: absolute;
	/*top: 0;*/
	left: 170px;
	border: 1px solid #999;
    border-radius: 2px;
    padding: 0px 3px;
    color: #666;
    font-size: 12px;
}
.member_price{
    margin-left: 62px;
    color: #999;
}
.member_price a{
	text-decoration: none;
	color: #333
}
.food_info_right dl{
	width: 494px;
	height: 77px;
	/*background-color: red;*/
    color: #666;
    font-size: 14px;
}.food_info_right dl dt{
	padding-top: 15px;
	width: 494px;
	height: 21px;
	position: relative;
}
.dis{
	position: absolute;
	top: 15px;left: 60px;
}
.dis .form-group{
	float: left;
}
.food_info_right dl dd{
	line-height: 40px;
    padding-left: 22px;
}
.food_info_right dl dd a{
	color: #d92a4b;
	text-decoration: none;
}
.food_info_num{
	width: 494px;
	height: 32px;
	line-height: 32px;
	color: #666;
	margin-top: 10px;
}
.food_info_num input{
	border: 1px solid #a7a6ab;
    padding: 5px 2px;
    height: 20px;
    line-height: 20px;
    width: 38px;
    font-size: 14px;
    margin-right: 4px;
    vertical-align: top;
    text-align: center;
    margin-left: 25px;
    outline: none;
}
.food_info_num .food_info_num1,.food_info_num .food_info_num2{
	/*margin-left: -6px;*/
    width: 16px;
    height: 12px;
    /*overflow: hidden;*/
    vertical-align: top;
    display: inline-block;
    border: 1px solid lightgray;
    background: url(../../img/Food/xueb.png) -125px 0 no-repeat;
    cursor: pointer;
}
.food_info_num .food_info_num2{
	vertical-align: bottom;
    margin-left: -23px;    
    background: url(../../img/Food/xueb.png) -148px 0 no-repeat;
}

.num_show{
	font-size: 14px;
	color: black;
	width: 198px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	box-shadow: 1px 1px 10px lightgray;
	top: 310px;
	position: absolute;
	background-color: white;
	display: none;
}

/*----------------------------------购买按钮*/
.food_info_buy{
	width: 494px;
	height: 56px;
	margin-top: 20px;
}
.food_info_buy button{
	font-size: 18px;
    margin-right: 10px;
    padding: 0 45px;
    cursor: pointer;
}
.food_info_buynow{
	background: #fff;
    border-radius: 3px;
    color: #d92a4b;
    line-height: 56px;
    border: 1px solid #d92a4b;   
}.food_info_addcar{
	 line-height: 56px;
	background: #d92a4b;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #d92a4b;
}
.food_info_buynow:hover{
	background: #ffe8ec;
}
.food_info_addcar:hover{
	background: #cc214a;
    color: #fff;
}
.food_info_buy span{
	text-decoration: none;
	color: black;
}
.food_info_shou{
	margin-top: 10px;
	position: absolute;
	top: 660px;
}

/*-------------点击加入购物车---------------*/
.re_btn1,.re_btn2{
	line-height: 30px;
	border: 1px solid #d92a4b;
	font-size: 14px;
	width: 90px;
	height: 30px;
	padding: 0;
    margin-right: 10px;
    border-radius: 3px;
    margin-left: 30px;
}
.re_btn1{
	color: #d92a4b;
	background: #fff;
	line-height: 30px;
}
.re_btn1:hover{
	background: #ffe8ec;
}
.re_btn2{
	color: #fff;
	background: #d92a4b;
}
.re_btn2:hover{
	background: #cc214a;
}
.remind{
	width: 396px;
	height: 178px;
	background: #fff;
    border: 1px solid #eee;
    position: relative;
    left: 168px;
    display: none;
    -webkit-box-shadow: 0 0 5px #ddd;
    -moz-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}
.Remind{
	width: 396px;
	height: 178px;
	background: #fff;
    border: 1px solid #eee;
    position: relative;
    top: 10px;
    left: 0px;
    display: none;
    -webkit-box-shadow: 0 0 5px #ddd;
    -moz-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
}
.remind-1{
	padding-left: 10px;
	height: 35px;
    position: relative;
}
i{
	font-style:normal;
}
.remind-1 i{
	
	color: #d92a4b;
    font-weight: 700;
    position: absolute;
    top: 7px;
    left: 1px;
}
.remind-1 h2{
	float: left;
    line-height: 35px;
    font-size: 14px;
    color: #666;
    font-weight: 400;
    margin: 0;
    margin-left: 5px;
}
.remind-1 span{
	display: inline-block;
	width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 23px;
    color: #ddd;
    cursor: pointer;
    text-align: center;
}
.remind-1 span:hover{
	color: #fff;
    background: #d92a4b;
}
.remind-2{
	width: 100%;
	height: 143px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.content{
	height: 93px;
	padding: 20px 0 30px 78px;
}
.content .icon{
	display: inline-block;
	width: 40px;
	height: 60px;
	position: absolute;
    top: 30px;
    left: 23px;
}
.content .icon img{
	width: 40px;
}
.content h3{
	margin: 0;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
}
.content p{
	margin: 0 0 10px 0;
}
#total{
	color: #d92a4b!important;
}
.remind-2 .re_btn1,.remind-2 .re_btn2{
	font-size: 14px;
	width: 90px;
	height: 30px;
	padding: 0;
}
/*-----------------------------------------------------正文*/

.food_info_icon{
	width: 1120px;
	height: 54px;
	margin: 0 auto;
}
.food_info_icon .food_info_icon_span{
	float: left;
    font-size: 20px;
    color: #333;
    line-height: 50px;
    margin-left: 100px;
}
.food_info_icon .food_p{
    font-size: 14px;
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #eee;
    color:#999;
    line-height: 50px;
    vertical-align: top;
}
.food_info_icon .food_icon1 img{
	width: 54px;
	height: 54px;
}

/*<!------------------------------------套餐购买-------------------------------->*/
.food_info_main1{
	position: relative;
	width: 1120px;
	height: 324px;
	margin: auto;
}
.food_info_main1 h2{
	color: #333;
    padding-left: 14px;
    font-size: 18px;
    height: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}
.food_info_main_list{
	width: 1120px;
	height: 292px;
	border: 1px solid #eee;
	margin-top: -30px;
}
.food_info_main_list ul{
	height: 250px;
	padding-left: 0;
	list-style-type: none;
	margin-left: 90px;
	/*margin-top: -30px;*/
}
.food_info_main_list ul li{
	width: 230px;
	height: 247px;
	margin-right: 10px;
	float: left;
}
.food_info_main_list img{
	width: 180px;
	height: 180px;
}
.food_info_main_list a{
	color: #333;
	text-decoration: none;
}.food_info_main_list .lipin{
	margin-top: 5px;
	margin-bottom: 0;
	text-align: center;
}.food_info_main_list span{
	font-size: 14px;
	color: red;
}
.lipin1:hover a{
	color: red;
}
.food_info_listr{
	width: 241px;
	height: 290px;
	border-left: 1px solid #eee;
	position: absolute;
	right: 0;
	bottom: 0;
}
.food_info_list_info{
	width: 200px;
	height: 45px;
	margin-left: 40px;
	margin-top: 80px;
}.food_info_list_info p{
	margin: 0;
	color: red;
}
.food_info_list_info p:first-child{
	color: black;
	font-size: 14px;
}
.food_info_btnred{
	width: 170px;
    height: 50px;
    font-size: 18px;
    margin-top: 30px;
    background: #d92a4b;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #d92a4b;
    margin-left: 40px;
}.food_info_btnred:hover{
	background: #cc214a;
    color: #fff;
}
.shadow{
	position: relative;
	top: -308px;
	left: 830px;
	box-shadow: 0 0 5px #ddd;
	width: 352px;
	height: 101px;
	display: none;
}
.shadow_clear{
	background: #eee;
    height: 30px;
    padding-left: 20px;
    position: relative;
    line-height: 30px;
}
.shadow span{
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 20px;
	color: #666;
}
.shadow .sure{
	background-color: red;
	font-size: 14px;
	color: white;
	width: 55px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin-left: 20px;
}
/*-------------------------------------------nav*/
.food_info_nav{
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 50px;
	height: 55px;
	background-color: white;
	z-index: 10;
}
.startop{
	position: fixed;
	top: -50px;
	line-height: 55px;
	z-index: 2;
	box-shadow: 1px 1px 10px lightgray;
}
.food_info_nav ul{
	width: 1120px;
	margin: 0 auto;
	margin-left: 580px;
	list-style-type: none;
	padding-left: 0;
}
.food_info_nav ul li{
	width: 155px;
	height: 55px;
	margin: 0 30px;
	line-height: 55px;text-align: center;
	color: #333;
	float: left;
}
.food_info_nav ul li a{
	text-decoration: none;
	color: #333;
	font-size: 20px;
}
.food_info_cur{
	border-bottom: 3px solid #d92a4b;
}
.food_info_nav ul li:hover{
	border-bottom: 3px solid #d92a4b;
}
.food_info_nav ul li:hover a{
	 color: #d92a4b;
}
/*-*/
.food_info_par {
	width: 1120px;
	height: 120px;
	margin: 40px auto 20px;
}
.food_info_par h2{
	margin: 0;
	width: 260px;
    text-align: center;
    float: left;
    font-weight: 400;
    font-size: 30px;
    color: #333;
}
.food_info_par1 {
	width: 800px;
    float: left;
    line-height: 30px;
    margin-left: 55px;
}
.food_info_par1 dl{
	width: 315px;
    float: left;
    font-size: 14px;
    margin: 0;
}
.food_info_par1 dt{
	float: left;
    color: #999;
}
.food_info_par1 dd{
	float: left;
    color: #333;
    margin: 0;
}
/*=============*/
.food_info_main2{
	width: 1120px;
	margin: auto;
	font-size: 0;
}.food_info_main2 img{
	width: 1120px;
}
/*---------------------------------------常见问题-------------------*/
.food_info_question{
	width: 1120px;
	height: 491px;
	margin: auto;
	padding-top: 1px;
}
.food_info_question h2{
	font-size: 30px;
    font-weight: 400;
    margin: 0;
    color: #333;
    margin-left: 80px;
    margin-top: 60px;
}
.food_info_question p{
	line-height: 36px;
    color: #333;
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
     margin-left: 80px;
    
}.food_info_question span{
	line-height: 24px;
	font-size: 14px;
	 margin-left: 80px;
}
/*--------------------------------------------登录-------------------*/
.hw_login{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,.7);
    display: none;
}
.login_pag{
	width: 400px;
	min-height: 280px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 101;
    text-align: center;
    border-radius: 5px;
    margin-left: -200px;
    margin-top: -216px;
    padding: 30px 0;
}
i{
	font-style: normal;
    font-weight: 400;
}
.login_close{
	width: 20px;
    height: 20px;
    line-height: 19px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 23px;
    color: #ddd;
    cursor: pointer;
    text-align: center;
}
.login_close:hover{
	color: #fff;
    background: #d92a4b;
}
.hw_login h3{
	margin: 0;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 400;
	font-family: "微软雅黑"; 
}
.login_pag label{
	display: block;
    position: relative;
    width: 277px;
    margin: 0 auto 25px;
}
.login_pag input{
	width: 275px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #eee;
    text-indent: 12px;
}
.test{
	display: inline-block;
    width: 78px;
    height: 32px;
    padding-top: 16px;
    background: #eee;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: -1px;
   
}
#loginBtn{
	font-size: 14px;
	background: #d92a4b;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #d92a4b;
}
#loginBtn:hover{
	background: #cc214a;
    color: #fff;
}
.login_pag p{
	color: #999;
    margin-top: 20px;
}
.login_pag p a{
	color: #999;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: "微软雅黑"; 
}